.container {
    max-width: 1400px;
    margin: 1.6rem auto;
    padding: 0 2rem;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.container h1 {
    color: var(--white);
    margin-bottom: 3%;
}

.containerHeader {
    display: flex;
    flex-direction: row;

    button {
        background: transparent;
        border: 0;
        margin-left: 1rem;
        margin-bottom: 3%;
    }
}

.listOrders {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.orderItem {
    display: flex;
    flex-direction: row;
    background-color: var(--dark-900);
    margin-bottom: 1rem;
    align-items: center;
    border-radius: 0.3rem;

    button {
        border: 0;
        background: transparent;
        font-size: 1.2rem;
        color: var(--white);
        height: 60px;
        align-items: center;
        display: flex;
    }
}

.emptyList {
    font-size: 1.2rem;
    color: var(--gray-100);
}

.headColumns {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 48%;
}

.card {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px 20px; /* Adiciona espaçamento lateral */
    margin-bottom: 16px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
    position: relative; /* Para o uso do pseudo-elemento */

    &.pending::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 8px; /* Largura da linha azul */
        height: 100%; /* Altura total do card */
        background-color: #007bff; /* Cor azul */
        border-radius: 0.3rem 0 0 0.3rem; /* Arredondamento do canto */
    }

    &.completed::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 8px; /* Largura da linha verde */
        height: 100%; /* Altura total do card */
        background-color: #28a745; /* Cor verde */
        border-radius: 0.3rem 0 0 0.3rem; /* Arredondamento do canto */
    }

    h3.cardTitle {
        font-size: 1rem; /* Tamanho menor para ajustar o layout */
        margin: 0; /* Remove o espaço em torno do título */
        padding-left: 16px; /* Espaçamento entre o texto e a linha */
        color: #333; /* Cor do texto */
    }

    .finishButton {
        font-size: 0.9rem; /* Tamanho menor para o botão */
        padding: 6px 10px; /* Ajusta o espaçamento do botão */
        background-color: #3fffa3;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        margin-left: auto; /* Faz o botão ficar à direita */
        transition: background-color 0.3s;

        &:hover {
            background-color: #32d78d;
        }
    }

    /* Efeito de hover */
    &:hover {
        background-color: #e0e0e0; /* Cor ao passar o mouse */
        transform: scale(1.02); /* Leve aumento de tamanho ao passar o mouse */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para dar destaque */
    }
}
