@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-50%); // Inicia acima
    }
    to {
        opacity: 1;
        transform: translateY(0); // Termina no centro
    }
}

.container {
    max-width: 90vw;
    width: 620px;
    max-height: 80vh;
    background-color: #f9f9f9;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    animation: slideDown 0.5s ease; // Animação ao abrir
    overflow-y: auto; // Adiciona rolagem quando necessário

    h2 {
        margin: 1rem 0;
        text-align: center;
        color: #e63946;
        font-size: 1.8rem;
        font-weight: bold;
    }

    .details {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1.5rem 0;
        font-size: 1.1rem;

        span {
            margin: 0.5rem 0;
            font-size: 1.2rem;
            font-weight: 500;
            text-align: center;
        }

        strong {
            color: #2a9d8f;
        }
    }

    h3 {
        text-align: center;
        margin-top: 1.5rem;
        color: #e63946;
        font-size: 1.5rem;
        font-weight: 600;
    }

    .containerItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0;
        background-color: #f0f0f0;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

        strong {
            color: #2a9d8f;
            font-weight: bold;
        }
    }

    .description {
        margin-top: 0.5rem;
        word-break: break-all;
        text-align: center;
        color: #555;
        font-size: 1rem;
    }

    .buttonOrder {
        margin-top: 1.5rem;
        background-color: rgba(0, 0, 0, 0.1);
        border: 0;
        padding: 0.5rem 1rem;
        border-radius: 0.3rem;
        color: #e63946;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;

        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
            transform: scale(1.05);
        }
    }

    .table {
        font-size: 1.4rem;
        color: #e63946;
        font-weight: bold;
        text-align: center;
    }
}

@media screen and (max-width: 660px) { 
    .container {
        width: 90%;
    }
}

@media screen and (max-width: 510px) { 
    .container {
        width: 80%;
    }
}
