.footerContainer {
    width: 100%;
    position: absolute;
    background-color: #272626; // Cor de fundo
    color: #ffffff; // Cor do texto
    padding: 50px 0; // Espaçamento vertical
    text-align: center; // Centraliza o texto
    // margin-top: 40px; // Espaçamento acima da navegação

    .footerContent {
        margin-top: -100px; // Espaçamento acima da navegação
        display: flex;
        flex-direction: column; // Empilha os elementos verticalmente
        align-items: center; // Centraliza horizontalmente
    }

    .footerNav {
        margin-top: 100px; // Espaçamento acima da navegação
        a {
            color: #ffffff; // Cor do link
            margin: 0 15px; // Espaçamento horizontal entre os links
            padding: 20px;
            text-decoration: none; // Remove sublinhado
            transition: color 0.3s ease; // Transição suave para hover

            &:hover {
                color: #FFC107; // Cor do link ao passar o mouse
            }
        }
    }
}

.imgSocial{
    flex-direction:row;
}

.Image {
    padding: 20px;
}


// .direitos{
//     margin-top: 10px;
// }

//
/* Flex container para alinhar as imagens horizontalmente */
.social-icons {
    display: flex;
    gap: 15px; /* Espaço entre os itens */
    align-items: center; /* Alinha verticalmente as imagens caso tenham alturas diferentes */
    justify-content: center;
}

/* Estilo para o espaçamento adicional se necessário */
.rdsocial {
    display: inline-block;
}


.rdsocial img {
    transition: transform 0.3s ease; /* Transição suave ao passar o mouse */
}

.rdsocial.instagram {
    margin-top: 10px; /* Move o ícone 10px para baixo */
}

/* Opção de efeito de hover para destacar os ícones ao passar o mouse */
.rdsocial:hover img {
    transform: scale(1.1); /* Aumenta um pouco o tamanho ao passar o mouse */
}