.footerContainer {
    width: 100%;
    background-color: #272626;
    color: #ffffff;
    padding: 50px 20px;
    text-align: center;
}

.footerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerNav {
    display: flex;
    gap: 30px;
}

.footerNav a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footerNav a:hover {
    color: #FFC107;
}

.imgSenai {
    padding: 0px;
}

.socialContainer {
    text-align: center;
}

.socialContainer p {
    margin-bottom: 15px;
}

.socialIcons {
    display: flex;
    gap: 22px;
    margin-top: 35px;
    justify-content: center;
}

.rights {
    margin-top: 20px;
    font-size: 14px;
    color: #cccccc;
}

.imgInstagram {
    position: relative;
    bottom: 0px; /* Move o ícone 30 pixels para baixo */
}
