.footerContainer {
    width: 100%;
    position: absolute;
    background-color: #272626; // Cor de fundo
    color: #ffffff; // Cor do texto
    padding: 100px 0; // Espaçamento vertical
    text-align: center; // Centraliza o texto
    margin-top: 140px; // Espaçamento acima da navegação

    .footerContent {
        margin-top: -100px; // Espaçamento acima da navegação
        display: flex;
        flex-direction: column; // Empilha os elementos verticalmente
        align-items: center; // Centraliza horizontalmente
    }

    .footerNav {
        margin-top: 100px; // Espaçamento acima da navegação
        a {
            color: #ffffff; // Cor do link
            margin: 0 15px; // Espaçamento horizontal entre os links
            text-decoration: none; // Remove sublinhado
            transition: color 0.3s ease; // Transição suave para hover

            &:hover {
                color: #FFC107; // Cor do link ao passar o mouse
            }
        }
    }
}

.imgSenai{
    margin-top: 90px;
    justify-items: auto;
    align-items: center;
}

.direitos{
    margin-top: 100px;
}

