.container {
  display: flex;
  gap: 2rem;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem;
}

.formContainer {
  flex: 2;
  max-width: 500px;
  padding: 2rem;
  background-color: var(--dark-800);
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.productListContainer {
  flex: 1;
  padding: 2rem;
  background-color: var(--dark-700);
  border-radius: 0.5rem;
  overflow-y: auto;
  max-height: 80vh;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.titulo {
  color: var(--white);
  text-align: center;
  margin-bottom: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.input,
.textarea,
.select {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1.5rem;
  border: 1px solid var(--gray-100);
  border-radius: 0.3rem;
  background-color: var(--dark-700);
  color: var(--white);
  transition: border-color 0.3s ease;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;

  input[type='checkbox'] {
    margin-right: 0.5rem;
    cursor: pointer;
  }

  label {
    color: var(--white);
    cursor: pointer;
  }
}

.sizePriceContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  align-items: stretch;

  .inputPrice, // Alterado para .inputPrice
  .selectSize { // Alterado para .selectSize
    flex: 1; /* Para garantir que ambos os campos ocupem espaço igual */
    margin-right: 10px; /* Espaçamento entre os campos */
    padding: 0.8rem; /* Adicionando padding */
    border: 1px solid var(--gray-100); /* Adicionando borda */
    border-radius: 0.3rem; /* Bordas arredondadas */
    background-color: var(--dark-700); /* Fundo escuro */
    color: var(--white); /* Texto branco */
    transition: border-color 0.3s ease; /* Transição suave */
  }

  .inputPrice:last-child,
  .selectSize:last-child {
    margin-right: 0; /* Remove o espaço do último item */
  }
}

.buttonSubmit {
  background-color: #D41509;
  padding: 0.8rem;
  border: none;
  border-radius: 0.3rem;
  color: var(--white);
  cursor: pointer;
  transition: background-color 0.3s;
}

.productListContainer h1 {
  color: var(--white);
  text-align: center;
  margin-bottom: 1.5rem;
}

.productItem {
  background-color: var(--dark-800);
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

