@import "~react-datepicker/dist/react-datepicker.css";

*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root{
  --white: #000000;
  --black: #ffffff;

  --dark-900: #efefef;// inputs
  
  --dark-700: #ffffff; // fundo

  --gray-100: #000000;

  --green-900: #ff3f4b;

  --red-900: #ff3f4b;

  --yellow: #FFC107;
}

button{
  cursor: pointer;
}

a{
  color: inherit;
  text-decoration: none;
}

body{
  background-color: var(--dark-700);
}

body, input, textarea, button{ 
  font: 400 1rem sans-serif;
}

.select, .datePicker{
  margin-bottom: 1rem;
  height: 40px;
  border: 0;
  border-radius: 0.5rem;
  background-color: var(--dark-900);
  color: var(--white);
  padding: 1rem;
  border: 1px solid var(--gray-100);
}

@media (max-widht: 720px){
  html{
    font-size: 87.5%; // Vai gerar 14px
  }
}

@media (max-widht: 1080px){
  html{
    font-size: 93.75%; // Vai gerar 15px
  }
}
