.produtoContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr); // 5 colunas
  gap: 15px; // Espaçamento entre os cards
  padding: 20px;
  margin-left: 117px;
  margin-right: 210px;
  padding-bottom: 30px; // Adiciona padding na parte inferior para espaçamento

  @media (max-width: 1200px) {
    grid-template-columns: repeat(4, 1fr); // Ajusta para 4 colunas em telas menores
  }

  @media (max-width: 900px) {
    grid-template-columns: repeat(3, 1fr); // Ajusta para 3 colunas em telas menores
  }

  @media (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr); // Ajusta para 2 colunas em telas menores
  }

  @media (max-width: 400px) {
    grid-template-columns: 1fr; // Ajusta para 1 coluna em telas muito pequenas
  }
}

.card {
  display: flex; // Habilita o Flexbox
  flex-direction: column; // Organiza os itens na coluna
  justify-content: center; // Distribui o espaço entre os itens
  background-color: #f9f9f9; // Cor de fundo dos cards
  border: 1px solid #ccc; // Borda leve
  border-radius: 8px; // Bordas arredondadas
  padding: 17px;
  text-align: center; // Alinhamento geral do conteúdo
  font-weight: bold; // Texto em negrito
  height: auto; // Ajusta a altura do card para se adaptar ao conteúdo
  margin-bottom: 20px; // Adiciona margem inferior para espaçamento entre os cards

  h2.cardTitle {
    text-align: center; // Centraliza o h3
    font-weight: bold; // Negrito no título
    margin-top: 10px; // Adiciona espaço acima do título
    margin-bottom: 10px; // Adiciona espaço abaixo do título
    font-size: 1.4rem;
  }

  p.cardText {
    display: flex;
    text-align: justify; // Parágrafos justificados
    font-weight: bold; // Negrito no conteúdo
    margin: 5px 0;
    gap: 0.4rem;
    text-align: center;
    justify-content: center;
    margin-bottom: 6px; // Adiciona espaço abaixo do título
    font-size: 1rem;

  }
}

// Resto do seu código permanece inalterado
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* Distribui logo à esquerda e botões à direita */
  align-items: center;
  padding: 0 0px;
  /* Espaçamento fixo entre a esquerda e a direita */
  background-color: var(--gray-900);
  border: 1px solid #ffffff;
  height: 80px;
}


.localizacao {
  margin-left: 215px;
  /* Define o deslocamento para a esquerda (aumente/diminua conforme necessário) */
  font-weight: bold; // Texto em negrito
}

.carrinho {
  padding-right: 250px;
  /* Padding fixo à direita */
  font-weight: bold; // Texto em negrito
  cursor: pointer;
  color: #c8102e;
}

.subHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* Distribui logo à esquerda e botões à direita */
  align-items: center;
  padding: 0 0px;
  /* Espaçamento fixo entre a esquerda e a direita */
  background-color: var(--gray-900);
  border: 1px solid #d1cfcf;
  height: 70px;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 215px;
  /* Define o deslocamento para a esquerda (aumente/diminua conforme necessário) */
}

.baner {
  display: flex;
  justify-content: center;
  /* Centraliza horizontalmente */
  align-items: center;
  /* Centraliza verticalmente */
}

.paginacao {
  display: flex;
  /* Ativa o Flexbox */
  justify-content: space-between;
  /* Distribui os botões uniformemente */
  align-items: center;
  /* Centraliza verticalmente */
  margin-top: 35px;
  /* Aumente o valor para mover mais para baixo */
  margin-left: 217px;
  /* Define o deslocamento para a esquerda (aumente/diminua conforme necessário) */
  margin-right: 217px;
  /* Define o deslocamento para a esquerda (aumente/diminua conforme necessário) */
}

.customButton {
  justify-content: center;
  /* Centraliza horizontalmente */
  align-items: center;
  /* Centraliza verticalmente */
  background-color: #ffffff;
  color: #000000;
  padding: 10px 20px;
  font-size: 16px;
  gap: 35px;
  border-radius: 20px;
  margin: 25px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #FFC107;
  }
}

.clickedButton {
  background-color: #c8102e;
  color: #ffffff;
  padding: 5px 20px;
  font-size: 14px;
  gap: 15px;
  border-radius: 15px;
  margin: 2px;
}

.clickedButton2 {
  background-color: #c8102e;
  color: #ffffff;
  padding: 4px 14px;
  font-size: 14px;
  gap: 12px;
  border-radius: 15px;
  margin: 2px;
}

.logo img {
  width: 170px;
  /* Ajuste o tamanho da imagem */
  height: auto;
  /* Mantém a proporção da imagem */
  margin-right: -110px;
  /* Define o espaçamento à direita da imagem, se necessário */
}

.nav {
  display: flex;
  gap: 20px;
  padding-right: 207px;
  /* Padding fixo à direita */
}

.navLogo {
  display: flex;
  gap: 20px;
  padding-right: 280px;
  /* Padding fixo à direita */
}

.button {

  background-color: var(--orange-500);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--orange-600);
  }
}

@media (max-width: 620px) {
  .login {
    width: 90%;
  }
}

.modalBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  /* Ajuste para definir o tamanho adequado */
  max-width: 800px;
  /* Limite de largura */
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.cardDetails {
  display: flex;
  /* Habilita o Flexbox */
  flex-wrap: wrap;
  /* Permite que os itens quebrem para a próxima linha, se necessário */
  gap: 15px;
  /* Espaçamento entre os itens */
  padding: 10px;
  /* Padding interno para os itens */
}


.cardDetails input {
  margin-right: 10px;
  /* Espaçamento entre o input e o texto */
}

.quantityControl {
  display: flex; /* Flexbox para controle de quantidade */
  align-items: center; /* Alinha verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  gap: 10px; /* Espaçamento entre os botões e o valor */
}

.quantityButton {
  display: flex;
  align-items: center; /* Centraliza o texto verticalmente */
  justify-content: center; /* Centraliza o texto horizontalmente */
  background-color: #4CAF50; /* Cor de fundo do botão */
  color: white; /* Cor do texto */
  border: none; /* Remove bordas */
  border-radius: 4px; /* Bordas arredondadas */
  padding: 4px; /* Padding interno */
  cursor: pointer; /* Cursor de pointer ao passar o mouse */
  transition: background-color 0.3s; /* Transição suave */
}

.quantityButton:disabled {
  background-color: #ccc; /* Cor para botões desabilitados */
  cursor: not-allowed; /* Cursor de não permitido */
}

.quantityValue {
  font-size: 1rem; /* Tamanho da fonte para o valor */
}



.quantityButton:disabled {
  background-color: #ccc; /* Cor para botões desabilitados */
  cursor: not-allowed; /* Cursor de não permitido */
}

.quantityValue {
  font-size: 1rem; /* Tamanho da fonte para o valor */
}

.addButton {
  background-color: #4CAF50; /* Cor de fundo para o botão de adicionar */
  color: white; /* Cor do texto */
  border: none; /* Remove bordas */
  border-radius: 4px; /* Bordas arredondadas */
  padding: 10px; /* Padding interno */
  cursor: pointer; /* Cursor de pointer ao passar o mouse */
  margin-top: 10px; /* Margem superior para espaçamento */
}

.addButton:hover {
  background-color: #45a049; /* Cor ao passar o mouse */
}
.quantityButton:hover {
  background-color: #45a049; /* Cor ao passar o mouse */
}